.DS_Store
node_modules
/.svelte-kit
/build
/package

.pnpm-debug.log
.vscode
.code-workspace
.vim


*~
.*.sw?

*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*
*.so
*.a
*.clb
*.class
*.pyxbldc
*.vcd


.DS_Store
.AppleDouble
.LSOverride
__MACOSX

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

.fuse_hidden*
.directory
.Trash-*
.nfs*
